# python list

sort,copy,join the list items

In [2]:
workingdays = ['monday','tuesday','wednesday','thursday','friday']

workingdays.sort() #sort the item of list in asc order

print(workingdays)

['friday', 'monday', 'thursday', 'tuesday', 'wednesday']

In [5]:
workingdays = ['monday','tuesday','wednesday','thursday','friday']

workingdays.sort(reverse = True) #sort the item of list in desc order

print(workingdays)

['wednesday', 'tuesday', 'thursday', 'monday', 'friday']

In [7]:
workingdays = ['monday','tuesday','wednesday','thursday','friday']

workingdays.sort(key = len) #sort the item of list by length

print(workingdays)

['monday', 'friday', 'tuesday', 'thursday', 'wednesday']

In [8]:
number = [10,60,30,45,36,33,95,23]

number.sort() #sort the list  of integer in asc order

print(number)

[10, 23, 30, 33, 36, 45, 60, 95]

In [9]:
number = [10,60,30,45,36,33,95,23]

number.sort(reverse = True) #sort the list  of integer in desc order

print(number)

[95, 60, 45, 36, 33, 30, 23, 10]

copy of list

In [15]:
list1 = [10,60,30,45,36,33,95,23]

list2= list1[0:8]#copy the list using slicing

print(list2)

[10, 60, 30, 45, 36, 33, 95, 23]

In [17]:
list1 = [10,60,30,45,36,33,95,23]

list2 = [34,44,56,66,77,88,77,33]

list2.extend(list1)#copy the list (combined)

print(list2)

[34, 44, 56, 66, 77, 88, 77, 33, 10, 60, 30, 45, 36, 33, 95, 23]

In [20]:
list1 = [10,60,30,45,36,33,95,23]

list2=list1.copy()#copy the list 

print(list2)

[10, 60, 30, 45, 36, 33, 95, 23]

In [21]:
list1 = [10,60,30,45,36,33,95,23]

list2=list(list1)#copy the list  using list

print(list2)

[10, 60, 30, 45, 36, 33, 95, 23]

In [24]:
list1 = [10,60,30,45,36,33,95,23]

list2=[ i for i in list1]#listcomprehension

print(list2)

[10, 60, 30, 45, 36, 33, 95, 23]

Join list

In [35]:
list1 = ['a','g','d','j','t','i','r']

list2 = [6,7,7,8]#join the list

list3 = list1 + list2

print(list3)

['a', 'g', 'd', 'j', 't', 'i', 'r', 6, 7, 7, 8]

In [37]:
list1 = ['a','g','d','j','t','i','r']

list2 = [6,7,7,8]#join the list

list3 = [*list1 ,*list2]

print(list3)

['a', 'g', 'd', 'j', 't', 'i', 'r', 6, 7, 7, 8]

In [ ]:
list1 = ['a','g','d','j','t','i','r']

list2 = [6,7,7,8]#join the list

list3.append[list1 ,*list2]

print(list3)

In [44]:
list1 = ['a','g','d','j','t','i','r']

list2 = [6,7,7,8]#join the list using append

for x in list2:
  list1.append(x)

print(list1)

['a', 'g', 'd', 'j', 't', 'i', 'r', 6, 7, 7, 8]

In [43]:
list1 = ['a','g','d','j','t','i','r']

list2 = [6,7,7,8]#join the list

list1.extend(list2)

print(list1)

['a', 'g', 'd', 'j', 't', 'i', 'r', 6, 7, 7, 8]